@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

:root {
  --clr-grey-1: hsl(210, 22%, 49%);
  --clr-grey-2: hsl(209, 23%, 60%);
  --clr-grey-3: hsl(211, 27%, 70%);
  --clr-grey-4: hsl(210, 31%, 80%);
  --clr-grey-5: hsl(212, 33%, 89%);
  --clr-grey-6: hsl(210, 36%, 96%);
  --clr-white: #fff; 
  --clr-black: #000;

  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

div {
    background-color: var(--clr-white);
    box-shadow: var(--light-shadow);
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

}


}

.logo {
    height: 40px;
}

.links a {
    color: var(--clr-grey-3);
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    padding: 0.5rem 1rem;
    transition: var(--transition);
}

.links a:hover {
    background: var(--clr-grey-2);
    color: var(--clr-grey-4);
    padding-left: 1.5rem;
}

.links {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.show-links {
    height: 10rem;
}

@media screen and (min-width: 800px) {
    .nav-center {
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
    }
    .nav-header {
      padding: 0;
    }
    
    }
    .links {
      /* IMPORTANT TO ADD */
      height: auto;
      display: flex;
    }
    .links a {
      padding: 0;
      margin: 0 0.5rem;
    }
    .links a:hover {
      padding: 0;
      background: transparent;
    }

#one {
    border: 1px solid black;
    padding-top: 100px;
}

#form {

}

input {

}

.button {
    width: 100px;
    height: 40px;
    border-radius: 3px;
    border: none;
    background-color: var(--clr-grey-4);
    cursor: pointer;

}

.button:hover {
    background-color: var(--clr-grey-5);
    
}

.container {
    border: 1px solid black;

}

#technology {

}

.grid {

}

.dif {
    border: 2px solid red;
    margin: 20px;
    padding: 10px;

}

.video {
    border: 1px solid blue;

}

#specs {
    border: 1px solid var(--clr-black);
    margin: 20px;
    padding: 10px;
    line-height: 2em;

}

.btn {
    width: 100px;
    height: 40px;
    border-radius: 3px;
    border: none;
    background-color: var(--clr-grey-4);
    cursor: pointer;

}

.btn:hover {
    background-color: var(--clr-grey-5);
}

#footer {
    margin: 20px;
    padding: 10px;

}

@media (max-width:480px) {

}